{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}


{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}
{% block content %}
  <div class="container">
  {%- with messages = get_flashed_messages(with_categories=True) %}
  {%- if messages %}
    <div class="row">
      <div class="col-md-12">
        {{utils.flashed_messages(messages)}}
      </div>
    </div>
  {%- endif %}
  {%- endwith %}
    <div class="jumbotron">
      <h1>ParkTrack</h1>
      <h2>Current Number of Cars: <span id="num">{{ result['num'] }}</span></h2>
      <h2>Current Number of Cars Out: <span id="out">{{ result['out'] }}</span></h2>
      <h2>Current Number of Cars In: <span id="in">{{ result['in'] }}</span></h2>
    </div>
    <script>
        var source = new EventSource('/updatecars');
        source.onmessage = function (event) {
            var json = JSON.parse(event.data);
            $.each(json, function(index, val) {
                document.getElementById(index).innerHTML=val;
            })
        }
    </script>
{%- endblock %}

